/* General Styles */
body {
    font-family: 'EB Garamond';
    margin: 0;
    padding: 0;
    background-color: #0B192E;
    color: #F8FAFC;
    padding-bottom: 80px;
    /* prevent footer from covering content */
}

.HTML {
    font-family: 'eagle lake';
    background-color: #0B192E;
    color: #F8FAFC;
    line-height: 1.6;
}

header h1 {
    font-family: "Eagle Lake", serif;
}

/* Header and Navigation Bar */
header header {
    font-family: 'eagle lake';

}

header h1 {
    margin: 0 auto;
    padding-left: 100px;
    /* space for logo */
    padding-right: 100px;
}

.award {
    width: 300px;
    text-align: center;
}

.award img {
    width: 80px;
    margin-bottom: 10px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 10px;
}

nav ul li a {
    color: #1e90ff;
    text-decoration: none;
}

/* Main Content */
section {
    padding: 10px;
    text-align: center;
    left: 90px;
}


header,
section {
    text-align: center;
}

.awards {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 30px;
    flex-wrap: nowrap;
    /* keeps them in one line */
}

.award {
    width: 300px;
    text-align: center;
    flex-shrink: 1;
    /* allows slight shrinking if needed */
}

.award {
    width: 300px;
}

.award img {
    width: 80px;
    height: 80px;
    object-fit: contain;
    display: block;
    margin: 0 auto 10px auto;
}

.award h3 {
    color: #10B981;
}